h1 {
  text-align: center;
}
#alphabet-buttons li {
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
    padding: 10px 15px;
    border-radius: 3px;
}
#alphabet-buttons {
    max-width: 800px;
    margin: 0 auto;
}

#myCanvas {
    margin: 0 auto;
    width: 300px;
    display: block;
}
